<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testModal">
    Abrir modal de prueba
</button>

<div class="modal fade" id="testModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prueba Bootstrap</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                🎉 ¡Funciona!
            </div>
        </div>
    </div>
</div>