<footer class="bg-dark text-light pt-4 pb-3 mt-5">
    <div class="container text-center text-md-start">
        <div class="row">

            <!-- Columna 1: Logo / Nombre -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-3">
                <h5 class="text-uppercase fw-bold">MiTienda</h5>
                <p>Tu tienda favorita online. Encuentra productos, ofertas y más.</p>
            </div>

            <!-- Columna 2: Enlaces -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-3">
                <h6 class="text-uppercase fw-bold">Enlaces</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Inicio</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Productos</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Ofertas</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Contacto</a></li>
                </ul>
            </div>

            <!-- Columna 3: Redes sociales -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-3">
                <h6 class="text-uppercase fw-bold">Síguenos</h6>
                <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-light"><i class="bi bi-youtube"></i></a>
            </div>

        </div>

        <hr class="mb-3">

        <div class="text-center">
            &copy; 2025 MiTienda. Todos los derechos reservados.
        </div>
    </div>
</footer>